# Environments
venv/
.venv/
env/
Webapp/venv/
backend/venv/

# Node.js
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
*.db
*.sqlite3
backend/bis.db

# Logs
*.log
server.log

# Large files & temporary downloads
*.zip
yolo8n/
yolo8s/

# Ignore all model files by default...
*.pt
# ...but explicitly keep the models inside backend/models/
!backend/models/
!backend/models/*.pt

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.swp
